<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entrega1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cuadro Cromático"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CromaTheme">
        <activity
            android:name="seminario.RankingActivity" />
        <activity
            android:name="seminario.MatrizOriginal"
            android:screenOrientation="nosensor" />
        <activity android:name="seminario.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="seminario.MainActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>